doctype html
html(lang="gl")
    include ../templates/_includes/_head.pug
    body
        main.Main(role=main)
            div#map.Map.Map-container--min
            div#content.Content.Content-container--max
                include ../templates/_includes/_header.pug
                div.carousel.slide#carousel(data-ride="carousel")
                    div.carousel-inner(role="listbox") 
                        div.carousel-item.active
                            img.d-block.w-100(src="./assets/files/img/castro-saceda.jpg", alt="1")
                        div.carousel-item
                            img.d-block.w-100(src="./assets/files/img/castro-saceda-1.jpg", alt="2")
                div.container.mt-3: div.row
                        div.col-sm-12
                            article.article-content.article-green
                                h3.article-title Castro Saceda
                                p.article-text É un dos castros mellor conservados de Galicia e tamén un dos poucos declarados Ben de Interese Cultural da provincia de Ourense. O Castro da Saceda, situado a carón da aldea do mesmo nome (integrada na parroquia de Lucenza) érguese no medio dunha chaira, nun outeiro que permite un gran control visual sobre o contorno. Trátase dunha aldea fortificada que presenta leves influenzas do mundo romano debidas aos contactos comerciais, pero non a unha influenza romanizadora directa. <br>
                                | O castro emprázase nun outeiro sobresaliente a 800 metros de altitude sobre a chaira que o rodea, ao sur da Serra do Larouco, nas penechairas entre a serra e a depresión de Verín, na conca do río Támega. Ao longo da historia esta comarca foi unha zona estratexicamente situada nun lugar central do convento bracarense da Gallaecia romana, con capital en Braga, delimitado sobre unha área xeográ- fica que tiña xa anteriormente peculiaridades culturais propias, froito dunha tradición que viña xa da Idade do Bronce ou da primeira Idade do Ferro. Este xacemento ten gran valor monumental polas súas estruturas e reúne características similares aos da comarca, ademais de ser aquel que proporcionou unha cronoloxía máis antiga das estudadas ata agora na zona. <br>
                                | A súa ocupación abrangue desde o s. IV a.C. ata o I d.C, momento no que foi abandonado pola súa poboación, que se trasladaría ao castro veciño da Cidá de San Millao por razóns que aínda ignoramos. 
        include ../templates/_includes/_scripts.pug