doctype html
html(lang="gl")
    include ../templates/_includes/_head.pug
    body
        main.Main(role=main)
            div#map.Map.Map-container--min
            div#content.Content.Content-container--max
                include ../templates/_includes/_header.pug
                div.carousel.slide#carousel(data-ride="carousel")
                    div.carousel-inner(role="listbox") 
                        div.carousel-item.active
                            img.d-block.w-100(src="./assets/files/img/trugan.jpg", alt="1")
                div.container.mt-3: div.row
                        div.col-sm-12
                            article.article-content.article-green
                                h3.article-title Lagar do Trugán
                                p.article-text A comarca da D.O. Monterrei posúe, ata o momento, o maior número de lagares rupestres de toda Galicia, a moita distancia de calquera outra comarca vitivinícola.<br>
                                | Os lagares apareceren maioritariamente de forma unitaria –por exemplo o do Trugán–, mais existen algúns conxuntos espectaculares de dous e incluso tres exemplares, como acontece na paraxe da Baira (tamén en San Millao).<br>
                                | O do Trugán é o único lagar rupestre inacabado da comarca. Foi escavado sobre un grande afloramento granítico de forma irregular que emerxe do chan 1 m aproximadamente. O lagar sitúase nun contexto de varios batólitos, de aí que as distintas partes que o conforman busquen adaptarse á morfoloxía natural do afloramento. O calcatorium ou estanque principal aparece sen perforar, de forma que non existe ningún tipo de conduto que permita decantar o mosto no pío ou lacus, evidencia de que nunca foi rematado.
        include ../templates/_includes/_scripts.pug