head
    title Concello de Cualedro
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="short icon", type="image/png", href="./assets/files/img/favicon.png")
    link(rel="stylesheet" href='./assets/css/main.css')