header.Header.Header-index
    .LogoB: a(href="./index.html"): img(src="./assets/files/img/logo.svg", alt="logob")
    a(href="#").MapHandler: span
            i.fa.fa-map-o.MapHandler-icon(aria-hidden="true")
    .Logo: a(href="./index.html")
            img.Logo-img(src="./assets/files/img/logoMob.svg", alt="logo")
    include ./_menu.pug
    