doctype html
html(lang="gl")
    include ../_includes/_head.pug
    body
        main.Main(role=main)
            div#map.Map.Map-container--min
            div#content.Content.Content-container--max
                include ../_includes/_header.pug
                div.carousel.slide#carousel(data-ride="carousel")
                    div.carousel-inner(role="listbox") 
                        div.carousel-item.active
                            img.d-block.w-100(src="./assets/files/img/igrexa-cualedro.jpg", alt="1")
                div.container.mt-3: div.row
                        div.col-sm-12
                            article.article-content.article-green
                                h3.article-title The old church of Cualedro
                                p.article-text Old parish church, probably built in the XVII century that was in use until the mid XX century. Next to it is located an original fountain and laundry with a central pillar.<br>
                                In May 1934 a storm left “abundant hailstones that caused great damages in the crops. In the church tower a spark fell, destroying it".<br>
                                It is partially surrounded by an aligned complex of traditional houses that stand out for their homogeneity. In one of those houses took place the facts that narrate the legend known by the name of A Mao Negra (The Black Hand).
        include ../_includes/_scripts.pug