doctype html
html(lang="gl")
    include ../_includes/_head.pug
    body
        main.Main(role=main)
            div#map.Map.Map-container--min
            div#content.Content.Content-container--max
                include ../_includes/_header.pug
                div.carousel.slide#carousel(data-ride="carousel")
                    div.carousel-inner(role="listbox") 
                        div.carousel-item.active
                            img.d-block.w-100(src="./assets/files/img/hermida-saude.jpg", alt="1")
                div.container.mt-3: div.row
                        div.col-sm-12
                            article.article-content.article-green
                                h3.article-title Hermitage of A Saúde
                                p.article-text A complex consisting of the hermitage of A Nosa Señora da Saúde (Our Lady of Health), a figured transept with an altar, a natural spring surrounded by an atrium, enclosed by a low stone wall, having a recreational and festive use. <br>
                                | The hermitage that was perhaps impelled by the monks of Atás, seems to date from the XVIII century. It has a rectangular floored nave and gabled roof supported by masonry walls. <br>
                                | The facade is protected by a wooden portico that is supported by unequal circular section granite columns. <br>
                                | The spring is a small chapel of dwarf masonry walls covered with stone slabs. The stone cross consists of a ziggurat shaped base, a column shaft, a capitel and a Latin cross, with a small altar on the side facing the hermitage.
        include ../_includes/_scripts.pug